
  .sidebar {
    min-height: 100vh;
    background: hsl(0, 0%, 100%);
    box-shadow: 2px 3px 4px 4px grey;
    margin-left: 0px;
}

.sidebar-container > div {
    padding: 10px 20px;
}

.sidebar-container > div > a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: black;
}
.active {
    /* Styling for the active class */
    background: #d9d9d9;
    /* Add any other styles as needed */
}

