.navbar2{
    background-color: #cbd5e1;
}
#navbar2.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.sticky-topbar{
    background-color: #bfdcff;
}
.wrapper {
    width: 80%;
    margin: 0 auto; /* Center the wrapper */
    padding: 5px;
  }
  .wrapper1 {
    width: 35%;
    margin: 0 auto; /* Center the wrapper */
    padding: 5px;
  }
.cur-height{
    height: 80vh;
}
.navbar-center {
    display: flex;
    justify-content: center !important;
  }
  .fa {
    padding: 6px;
    font-size: 22px;
    width: 33px;
    text-align: center;
    text-decoration: none;
    margin: 0px 5px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  .fa-facebook {
    background: #0e0e0e;
    color: white;
  }
  .fa-twitter {
    background: #0e0e0e;
    color: white;
  }
  .fa-instagram {
    background: #0e0e0e;
    color: white;
  }
  .fa-youtube {
    background: #0e0e0e;
    color: white;
  }

  .image-container {
    position: relative;
    /* width: 33%; */
    /* max-width: 800px; */
    /* margin: 0 auto; */
  }

  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
  }
  .slide_img{
    width: 25%;
    height: 25%;
  }
  .slide_height{
    height: 54vh;
  }
  .footer{
    background-color: #e5e6e6;
  }
  .banner_height{
    height: 50vh;
  }

  @media (min-width: 576px) { 
    .wrapper1 {
      width: 100%;
      margin: 0 auto; /* Center the wrapper */
      padding: 5px;
    }
  }
@media (min-width: 768px) {
  .wrapper1 {
    width: 45%;
    margin: 0 auto; /* Center the wrapper */
    padding: 5px;
  }
 }

  @media (min-width: 992px) { 
    .slide_img{
      width: 20%;
      height: 25%;
    }
    
   }

   @media (min-width: 1200px) { 
    .slide_img{
      width: 15%;
      height: 25%;
    }
   }


   /* Add these styles to your CSS file */
.sidebar {
  width: 250px;
  position: fixed;
  height: 100%;
  background-color: #ffffff; /* Adjust the background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar-offcanvas {
  position: relative;
}

.main-panel {
  margin-left: 250px; /* Match the sidebar width */
  transition: margin-left 0.3s;
}

/* Adjust this style to control the space between sidebar items */
.sidebar ul.nav li {
  margin-bottom: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .main-panel {
    margin-left: 0;
  }
}
