
body {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  margin-bottom: -6px !important;
  -moz-margin-bottom: -10px !important; /* Firefox specific */
}

a{
  text-decoration: none !important;
   
}
.wrapperTop{
  padding: 0px 5px;
}
.playerlist {
  margin: auto;
  text-align-last: end;
}
.navbar2 {
  background-color: #cbd5e1;
}
.main-prestener{
  width: 100%  !important;
  margin: 0px;
 text-align: center !important;
}
#navbar2.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.sticky-topbar {
  background-color: #bfdcff;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  /* Center the wrapper */
  padding: 5px;
}

.wrapper1 {
  width: 35%;
  margin: 0 auto;
  /* Center the wrapper */
  padding: 5px;
}

.cur-height {
  height: 80vh;
}

.navbar-center {
  display: flex;
  justify-content: center !important;
}

.fa {
  padding: 6px;
  font-size: 22px;
  width: 33px;
  text-align: center;
  text-decoration: none;
  margin: 0px 5px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #0e0e0e;
  color: white;
}

.fa-twitter {
  background: #0e0e0e;
  color: white;
}

.fa-instagram {
  background: #0e0e0e;
  color: white;
}

.fa-youtube {
  background: #0e0e0e;
  color: white;
}

.image-container {
  position: relative;
  /* width: 33%; */
  /* max-width: 800px; */
  /* margin: 0 auto; */
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
p{
  text-align: justify !important;
  text-justify: inter-word !important;
  padding: 3px !important;
  margin-bottom: 0px;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
}
h1 h2 {
    text-align: justify !important;
    text-justify: inter-word !important;
    padding: 3px !important;
    margin: 5px;
}

.slide_img {
  width: 25%;
  height: 25%;
}
.sebscribe{
  width: 50% !important;
  text-align: center !important;
  margin: 0px auto !important;
}
.ftTitle{

  margin-top: 30px !important;
}
.slide_height {
  height: 54vh;
}
.rapperMain{
  text-align: center !important;
  padding: auto;
  margin: 0px auto;
}
.footer {
  background-color: #e5e6e6;
}
.ft-l{
  margin-left: 2rem !important;

}
.banner_height {
  height: 50vh;
}
.mainImagerep {
  display: none !important;
}
.wellStart{
padding: 18px 0px;
}
@media (max-width: 992px) {
  .mainImagerep {
    display: block !important; /* or display: inline-block; depending on your needs */
  }
  .mainImage {
    display: none !important; 
  }
}

/* .mainImagerep{
  display: none !important;
}
@media (max-width: 992px) {
  .mainImagerep{
    display: show !important;
  }
  .mainImage{
    display: none !important;
   }
   
} */
@media (min-width: 576px) {
  .wrapper1 {
    width: 100%;
    margin: 0 auto;
    /* Center the wrapper */
    padding: 5px;
  }
  .teamItem {
    margin: 2px 165px !important;
    text-align: center !important;
}
}
@media (min-width: 200px) {
  .wrapper1 {
    width: 100%;
    margin: 0 auto;
    /* Center the wrapper */
    padding: 5px;
  }
  .teamItem {
    margin: 2px 100px !important;
    text-align: center !important;
}


}

@media (min-width: 768px) {
  .wrapper1 {
    width: 45%;
    margin: 0 auto;
    /* Center the wrapper */
    padding: 5px;
  }
  .teamItem{
    margin: 0px auto !important;
    text-align: center !important;
 }
 /* .mainImage{
  display: none !important;
 } */

}

@media (min-width: 992px) {
  .slide_img {
    width: 20%;
    height: 25%;
  }

}

@media (min-width: 1200px) {
  .slide_img {
    width: 15%;
    height: 25%;
  }
  .teamItem{
    margin: 0px auto !important;
    text-align: center !important;
 }

}


/* Add these styles to your CSS file */
.sidebar {
  width: 250px;
  height: 80%;
  background-color: #ffffff;
  /* Adjust the background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar-offcanvas {
  position: relative;
}

.main-panel {
  margin-left: 250px;
  /* Match the sidebar width */
  transition: margin-left 0.3s;
}

/* Adjust this style to control the space between sidebar items */
.sidebar ul.nav li {
  margin-bottom: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .main-panel {
    margin-left: 0;
  }
}



#content main .table-data {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 24px;
  margin-top: 24px;
  width: 100%;
  color: var(--dark);
}

#content main .table-data>div {
  border-radius: 20px;
  background: var(--light);
  padding: 24px;
  overflow-x: auto;
}

#content main .table-data .head {
  display: flex;
  align-items: center;
  grid-gap: 16px;
  margin-bottom: 24px;
}

#content main .table-data .head h3 {
  margin-right: auto;
  font-size: 24px;
  font-weight: 600;
}

#content main .table-data .head .bx {
  cursor: pointer;
}

#content main .table-data .order {
  flex-grow: 1;
  flex-basis: 500px;
}

#content main .table-data .order table {
  width: 100%;
  border-collapse: collapse;
}

#content main .table-data .order table th {
  padding-bottom: 12px;
  font-size: 13px;
  text-align: left;
  border-bottom: 1px solid var(--grey);
}

#content main .table-data .order table td {
  padding: 16px 0;
}

#content main .table-data .order table tr td:first-child {
  display: flex;
  align-items: center;
  grid-gap: 12px;
  padding-left: 6px;
}

#content main .table-data .order table td img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

#content main .table-data .order table tbody tr:hover {
  background: var(--grey);
}

#content main .table-data .order table tr td .status {
  font-size: 10px;
  padding: 6px 16px;
  color: var(--light);
  border-radius: 20px;
  font-weight: 700;
}

#content main .table-data .order table tr td .status.completed {
  background: var(--blue);
}

#content main .table-data .order table tr td .status.process {
  background: var(--yellow);
}

#content main .table-data .order table tr td .status.pending {
  background: var(--orange);
}


#content main .table-data .todo {
  flex-grow: 1;
  flex-basis: 300px;
}

#content main .table-data .todo .todo-list {
  width: 100%;
}

#content main .table-data .todo .todo-list li {
  width: 100%;
  margin-bottom: 16px;
  background: var(--grey);
  border-radius: 10px;
  padding: 14px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#content main .table-data .todo .todo-list li .bx {
  cursor: pointer;
}

#content main .table-data .todo .todo-list li.completed {
  border-left: 10px solid var(--blue);
}

#content main .table-data .todo .todo-list li.not-completed {
  border-left: 10px solid var(--orange);
}

#content main .table-data .todo .todo-list li:last-child {
  margin-bottom: 0;
}

/* MAIN */
/* CONTENT */









@media screen and (max-width: 768px) {
  

  .d-flex {
    /* Replace 'd-flex' with your desired class */
    display: block; /* Or any other display property as per your requirement */
  }
  .w-75 {
    /* Replace 'w-75' with your desired class */
    width: 100%; /* Set width to 100% when screen width is below 768px */
  }


  #sidebar {
    width: 200px;
  }
.sm-12{
  width: 100%;
}
  #content {
    width: calc(100% - 60px);
    left: 200px;
  }

  #content nav .nav-link {
    display: none;
  }
}






@media screen and (max-width: 576px) {
  #content nav form .form-input input {
    display: none;
  }

  #content nav form .form-input button {
    width: auto;
    height: auto;
    background: transparent;
    border-radius: none;
    color: var(--dark);
  }

  #content nav form.show .form-input input {
    display: block;
    width: 100%;
  }
.footer{
  margin-right:-10px !important
}
  #content nav form.show .form-input button {
    width: 36px;
    height: 100%;
    border-radius: 0 36px 36px 0;
    color: var(--light);
    background: var(--red);
  }

  #content nav form.show~.notification,
  #content nav form.show~.profile {
    display: none;
  }

  #content main .box-info {
    grid-template-columns: 1fr;
  }

  #content main .table-data .head {
    min-width: 420px;
  }

  #content main .table-data .order table {
    min-width: 420px;
  }

  #content main .table-data .todo .todo-list {
    min-width: 420px;
  }
}

table{
  border: 1px solid black !important; 

}
th{
  border: 1px solid black !important; 

}
td {
  border: 1px solid black !important; 

}



.bi {
  color: tomato;
}
/* Add this class to your styles */
.custom-play-icon {
  color: rgb(255, 0, 34);
  font-size: 24px; /* set your desired font size */
}
/* Add this to your CSS or in-line style */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

/* You may need to adjust styles based on your specific design requirements */
.tes{
  width: 31% !important;
}
.maincds{
  right: 10%;
}
.teslast{
  width: 31% !important;

}
.componentStyle{
  padding: 10px 0px;
  margin: 10px 0px;
}
.programs{
  background-color: transparent !important;
}
.progmain{
  background-image: url("../../public/imgages/se.jpg");
  background-repeat: no-repeat;
  background-size: cover;  
  background-position: center center;
  position: relative;
  padding-bottom: 2px;
}
.leson{
  background: #E5E6E6;
  width: 92%;

}


/* Rectangle 96 */


/* Frame 218 */

.leason-box{
  box-sizing: border-box;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 21.8309px 109.155px;
gap: 15.59px;

position: absolute;
width: 425px;
height: 325px;

background: #E5E6E6;
border: 2px solid #1F2937;
border-radius: 8px;
}








.seminer_header{
  margin: 0px auto;
  text-align: center;
}
.main-blogs{
margin:0px auto;
}
.linkbtns{
  text-decoration: none !important;
}
